<div *ngIf="track">

  <h2>{{track.name | uppercase}} Details</h2>
  <div>
    <label>name:
      <input [(ngModel)]="track.name" placeholder="name"/>
    </label>
  </div>
  <div><span>track_number: </span>{{track.track_number}}</div>
  <div><span>duration_ms: </span>{{track.duration_ms}}</div>
  <div><span>preview_url: </span><a href="{{track.preview_url}}" target="_blank">{{track.preview_url}}</a></div>
  <div><span>id: </span>{{track.id}}</div>
  <button (click)="goBack()">go back</button>
</div>
