<mat-card class="album-card">
  <div class="album-header" fxLayout="row" fxLayoutAlign="start center">
    <img alt="{{ album.name }} {{ album.images[0].width }}x{{ album.images[0].height}}" mat-card-image
         src="{{ album.images[0].url }}">
    <mat-card-header>
      <mat-card-title>{{ album.name }}</mat-card-title>
      <a href="{{ album.artists[0].external_urls.spotify }}" mat-card-subtitle>{{ album.artists[0].name}}</a>
    </mat-card-header>

  </div>
  <mat-selection-list #album.tracks.items [multiple]="false">
    <a *ngFor="let track of album.tracks.items" routerLink="/track/{{track.id}}">
      <mat-list-option>
        <div class="track">
          <button class="track-number">
            <span class="no-decoration">{{track.track_number}}</span>
          </button>
          <span class="no-decoration">{{track.name}}</span>
          <span class="spacer"></span>
          <span class="no-decoration">{{ track.duration_ms | msToMinAndSec}}</span>
        </div>
      </mat-list-option>
    </a>
  </mat-selection-list>

  <button (click)="goBack()" color="primary" mat-raised-button>Go Back</button>
</mat-card>
