<mat-card class="album-card">
  <div class="album-header" fxLayout="row" fxLayoutAlign="start center">
    <img mat-card-image src="{{ album.images[0].url }}"
         alt="{{ album.name }} {{ album.images[0].width }}x{{ album.images[0].height}}">
    <mat-card-header>
      <mat-card-title>{{ album.name }}</mat-card-title>
      <a mat-card-subtitle href="{{ album.artists[0].external_urls.spotify }}">{{ album.artists[0].name}}</a>
    </mat-card-header>

  </div>
  <mat-selection-list #album.tracks.items [multiple]="false">
    <a routerLink="/track/{{track.id}}" *ngFor="let track of album.tracks.items">
      <mat-list-option>
        <div class="track">
          <button class="track-number">
            <span class="no-decoration">{{track.track_number}}</span>
          </button>
          <span class="no-decoration">{{track.name}}</span>
          <span class="spacer"></span>
<!--          <span class="no-decoration">{{track.duration_ms}}</span>-->
          <span class="no-decoration">{{ track.duration_ms | msToMinAndSec}}</span>
        </div>
      </mat-list-option>
    </a>
  </mat-selection-list>

  <button mat-raised-button color="primary" (click)="goBack()">Go Back</button>
</mat-card>
