<mat-card>
  <div *ngIf="track">

    <h2>{{track.name}}</h2>
    <div *ngIf="track.preview_url">
      <audio controls src="{{track.preview_url}}">Your browser does not support the <code>audio</code> element.</audio>
    </div>
    <p><span class="label">Name:</span> {{ track.name }}</p>
    <p><span class="label">Track Number:</span> {{ track.track_number }}</p>
    <p><span class="label">Duration ms:</span> {{ track.duration_ms }}</p>
    <button (click)="goBack()" color="primary" mat-raised-button>Go Back</button>
  </div>
</mat-card>
